{% extends 'base.html' %}

{% block title %}Petcare - 1756 Bank St{% endblock %}

{% block content %}

<main>
    <div id="#" class="card mt-5 p-5 bg-light align-items-center">
	<h1>Pet Care Instruction</h1>
	<p class="lead">Thanks for taking care of our pets! Here's how to do it:</p>

	<ul>
	    <li>Breakfast: 1/3 - 1/2 of a can of wet food (found under kitchen sink) per cat.</li>
	    <li>Dinner: 1/2 cup of dry food (also under sink) per cat.</li>
	    <li>Litter Boxes: 1 middle-level by laundry, 1 middle-level in bedroom, 1 top-level in "closet"</li>
	    <li>Toys and attention all over the house!</li>
	    <li>Try to see everyone but we know Leo and Wendy are shy and might be hiding</li>
	    <li>Be careful to avoid letting anybody (especially Benny!) out of the house</li>
	</ul>
	
	
	
    </div>
</main>

{% endblock %}
